<div class="content">
	<div class="flex margin-bottom-10">
		<div class="blue-circle">
			<i class="fas fa-at white-color icon"></i>
		</div>
		<div class="title primary-color uppercase vertical-center">
			<%=referees.title%>
		</div>
	</div>
	
    <% for(i=0; i<referees.table.length; i++) { %>
		<div class="margin-bottom-10 margin-left-5">
			<span class="bold primary-color"><%=referees.table[i].name%></span>
			: 
			<span><%=referees.table[i].jobTitle%></span>
			</br>
			<%=referees.table[i].contactType%>: 
			<% if (referees.table[i].contactType === "Email") { %>
				<a href=mailto:<%=referees.table[i].contactLink%>><%=referees.table[i].contactLink%></a>
			<% } else { %>
				<a href=<%=referees.table[i].contactLink%>><%=referees.table[i].contactLink%></a>
			<% } %>				
		</div>
    <% } %>
</div>
