<div class="content">
	<div class="flex margin-bottom-10">
		<div class="blue-circle">
			<i class="fas fa-at white-color icon"></i>
		</div>
		<div class="title primary-color uppercase vertical-center">
			<%=referees.title%>
		</div>
	</div>
	
    <% for(i=0; i<referees.table.length; i++) { %>
	<div class="tableItem margin-left-5">
			<div class="bold margin-bottom-10">
                <span class="primary-color"><%=referees.table[i].name%></span>
                <span><%=referees.table[i].jobTitle%></span>
			</div>
			<div>
				<%=referees.table[i].contactType%>: <a><%=referees.table[i].contactLink%></a>
			</div>
        </div>
    <% } %>
</div>
