<div class="content">
    <div class="flex margin-bottom-20">
        <div class="blue-circle">
            <i class="fas fa-briefcase white-color icon"></i>
        </div>
        <div class="title primary-color uppercase vertical-center">
            Professional experiences
        </div>
    </div>

    <% for(i=0; i<professionalExperiences.table.length && i<2; i++) {%>
        <div class="tableItem">
            <div class="subtitle bold margin-bottom-10 margin-left-5">
                <%=professionalExperiences.table[i].startDate%>
                 -
                <%=professionalExperiences.table[i].endDate%>
                 |
                <span class="primary-color"><%=professionalExperiences.table[i].jobTitle%></span>
            </div>
            <div class="margin-left-60">
                <% for(j=0; j<professionalExperiences.table[i].missions.length; j++) { %>
                    <div class="margin-bottom-10">
                        <ul class="list">
                            <% for(k=0; k<professionalExperiences.table[i].missions[j].taskList.length; k++) { %>
                            <li>
                                <%= professionalExperiences.table[i].missions[j].taskList[k] %>
                            </li>
                            <% } %>
                        </ul>
                        <div><b>Technical environment:</b> <%= professionalExperiences.table[i].missions[j].technicalEnvironment %></div>
                    </div>
                <% } %>
            </div>
        </div>
    <%}%>
</div>


